h1{
  color: rgb(75, 33, 84);
}
h2{
  color:
}
h3{
  color: rgb(28, 72, 142)
}
body{
  background-color: rgb(143, 170, 214);
}



#left{
  text-align:left;
}

#right{
 text-align:right;
}

.commentbutton{
  width:80px;
  height:80px;
  font-size:80px;
}

#para{font-size: 20px; font-family: Comic}

#word{font-size: 20px; font-family: Comic}
